
<div id="overview" class="left-column">
  <div class="left-content">
  <%= content('edit-tutorial') %>

  <%= button_to "Delete Tutorial", admin_tutorial_path( @tutorial ), :method => :delete, :confirm => "Are you sure you want to delete this tutorial?", :class => 'btn blue-btn' %><br />

  <%= link_button_to "Tutorial Management", admin_tutorials_path, :class => 'btn blue-btn' %>
  </div>
</div>
<div id="details" class="right-column">
  <div class="the-content">
    <%= form_for @tutorial, :url => { :action => :update } do |f| %>
      <%= render(:partial => 'form', :locals => { :f => f } ) %>
      <div class='field field-submit'>
        <%= submit_tag 'Update Tutorial', :class => 'btn blue-btn' %>
      </div>
    <% end %>
  </div>
</div>