<div class='field'>
	<%= f.label :name, "Title" %>
	<%= f.text_field :name %>
</div>

<div class='field'>
	<%= f.label :abbr, "Abbreviation" %>
	<%= f.text_field :abbr %>
</div>

<%= f.hidden_field :chamber_id %>
