  <div class="field"><%= f.label :name, "Title" %> <%= f.text_field :name, :class => "input" %><a href="whatisthis" class="wit"></a></div>

  <div class="field"><%= f.label :name, "Abbreviation" %> <%= f.text_field :abbr, :class => "input"  %><a href="whatisthis" class="wit"></a></div>

  <%= f.hidden_field :chamber_id %>