
<div id="overview" class="left-column">
  <div class="left-content">
  <%= content('edit-instruction') %>

  <%= button_to "Delete Instruction", admin_instruction_path( @instruction ), :method => :delete, :size => 'ninety', :confirm => "Are you sure you want to delete this instruction?", :class => 'btn blue-btn' %><br />

  <%= link_button_to "Instruction Management", admin_instructions_path, :size => 'hundred', :class => 'btn blue-btn' %>
</div>
</div>
<div id="details" class="right-column">
    <div class="the-content">
    <%= form_for @instruction, :url => { :action => :update } do |f| %>
      <%= render(:partial => 'form', :locals => { :f => f } ) %>
      <div class='field field-submit'>
        <%= submit_tag 'Update Instruction', :class => 'btn blue-btn' %>
      </div>
    <% end %>
  </div>
</div>
