<div id="overview" class="left-column">
  <div class="the-content">
  <%= content('manage-constituencies') %>

  <%= form_for @chamber, :url => { :action => :init_constituencies } do |f| %>
    <h2>Reload Constituencies</h2>

    <p>Reloading constituencies will destroy all current constituencies and any member/constituency
    association and then reload constituencies based on the chamber's scenerio.</p>
    <%= submit_tag "Reload Constituencies", :size => 'sixty' %>
  <% end %>

  <%= link_to "Return to Chamber Management", admin_chamber_path( @chamber ) %>
</div>
</div><!--overview-->

<div id="details" class="right-column">
  <div class="the-content">
  <h2>Existing Constituencies</h2>

  <ul>
    <% @chamber.constituencies.each do |constituency| %>
      <li><%= constituency.title %></li>
    <% end %>
  </ul>
</div>
</div>
