<div class='left-column'>
	<div class='left-content'>
		Change your account password
	</div>
</div>
<div class='right-column'>
	<div class='the-content'>
		<% @user.password = @user.password_confirmation = nil %>

		<%= form_for @user, :url => update_password_users_path do |f| -%>

		  <div class='field'><%= f.label :password, 'New Password' %><br/>
		  <%= f.password_field :password, :style => 'outline: none;border: 0 none;height: 24px;color: #000;background-color: #DEDEDE;font-size: 16px;padding: 8px 12px;width: 100%;max-width: 576px;' %></div>

		  <div class='field'><%= f.label :password_confirmation, 'Confirm Password' %><br/>
		  <%= f.password_field :password_confirmation, :style => 'outline: none;border: 0 none;height: 24px;color: #000;background-color: #DEDEDE;font-size: 16px;padding: 8px 12px;width: 100%;max-width: 576px;'  %></div>

		  <div class='field submit-field'><%= submit_tag 'Update Password', :class => 'btn blue-btn' %></div>
		<% end %>
	<div>
</div>