        <tr>
          <td><%= referral.legislation.title %></td>
          <% if referral.status == 'pending' or referral.status == 'tabled' %>
            <td colspan="3">
              <%= form_for referral do |f| %>
                <%= f.hidden_field :status, :value => 'hearing' %>
                <%= f.submit "Open Hearing", :size => 'ninty', :class => 'btn blue-btn' %>
              <% end %>
            </td>
          <% elsif referral.status == 'hearing' %>
              <% if referral.report %>
                  <% unless @current_chamber.setting("has_#{referral.group.type.underscore}_voting") %>
                    <td>
                      <%= form_for referral.report, :url => publish_report_path( referral.report )  do |f| %>
                        <%= f.submit "Publish Report", :size => 'ninty', :class => 'btn blue-btn' %>
                      <% end %>
                    </td>
                  <% end %>
                <td colspan='3'>
                  <%= link_button_to "Revise&nbsp;Report".html_safe, edit_report_path( referral.report ), :size => 'ninty', :class => 'btn blue-btn' %>
                </td>
              <% else %>
                <td colspan='3'>
                  <%= link_button_to "Draft&nbsp;Report".html_safe, new_referral_report_path( referral ), :size => 'ninty', :class => 'btn blue-btn' %>
                </td>
              <% end %>
            </td>
            <td>
              <%= form_for referral do |f| %>
                <%= f.hidden_field :status, :value => 'tabled' %>
                <%= f.submit "Table Hearing", :size => 'ninty', :class => 'btn blue-btn' %>
              <% end %>
            </td>
          <% end %>
        <tr>