<div id="overview">

  <h1>Create New System User</h1>

  <%= link_button_to "Return to System User Management", system_system_users_path, :size => 'ninty' %>

</div>

<div id="details">

  <% @system_user.password = @system_user.password_confirmation = nil %>

    <%= error_messages_for :system_user %>

    <%= form_for :system_user, :url => system_system_users_path do |f| -%>
    <p><%= f.label :first_name, 'First Name' %><br/>
    <%= f.text_field :first_name %></p>

    <p><%= f.label :last_name, 'Last Name' %><br/>
    <%= f.text_field :last_name %></p>

    <p><%= f.label :email %><br/>
    <%= f.text_field :email %></p>

    <p><%= f.label :password %><br/>
    <%= f.password_field :password %></p>

    <p><%= f.label :password_confirmation, 'Confirm Password' %><br/>
    <%= f.password_field :password_confirmation %></p>

    <p><%= submit_tag 'Create' %></p>
  <% end -%>

</div>