<% if @proceeding_type == 'motion_to_proceed' %>

  <h3>Motion to Proceed to the consideration of <%= legislation.reference %></h3>

<% elsif @proceeding_type == 'unanimous_consent_agreement' %>

  <h3>Unanimous Consent to the consideration of <%= legislation.reference %></h3>

<% end %>

Initial version for consideration:
<ul>
  <li><%= link_to "As Introduced in the #{legislation.chamber.name}", legislation_path( legislation ) %></li>
  <% legislation.referrals.committee.reported.each do |referral| %>
    <li><%= link_to "As Reported by #{referral.group.name}", report_path( referral.report ) %></li>
  <% end %>
</ul>

Time limit on debate:
<ul>
  <li>Unlimited</li>
  <li>24 hours of online debate</li>
</ul>

Amendments to be considered:
<ul>
  <li>Unlimited Amendments</li>
  <% if legislation.status == 'calendar' %>
    <% legislation.referrals.floor.last.amendments.each do |amendment| %>
      <li><%= link_to amendment.title, amendment_path( amendment ) %> introduced by <%= link_to_user( amendment.sponsor ) %></li>
    <% end %>
  <% end %>
</ul>

Votes to be held:
<ul>
  <li>Online over a period of 48 hours</li>
<ul>