<div id="overview" class="left-content">
  <div class="left-content">

  <h2>Calendars</h2>

  <table>
    <% @floor.calendars.each do |calendar| %>
      <tr>
        <td><%= calendar.name %></td>
        <td>
          <%= link_button_to "Edit", edit_calendar_path( calendar ), :size => 'hundred', :class => 'btn blue-btn' %><br/>
        </td>
      </tr>
    <% end %>
  </table>
  <div class='field field-submit'>
    <%= link_button_to "Create New Calendar", new_group_calendar_path( @floor ), :size => 'sixty', :class => 'btn blue-btn' %><br/>
  </div>
  <%= content('manage-floor-calendars') %>

  </div>
</div>

<div id="details" class="right-column">
<div class="the-content">
  <%= link_button_to "Chamber Management", manage_chamber_path( @floor.chamber ), :size => 'hundred', :class => 'btn blue-btn' %>
  <br/>
  <br/>
  <% unless @floor.referrals_pending_calendar.empty? %>
    <h2>Legislation Awaiting Calendar Placement</h2>
    </br>

    <%= form_for :calendar, :url => { :action => :add_items, :controller => :calendars } do |f| %>

    <!-- set s1 keeps track of the shown legislations to avoid duplicate bill bug -->

      <ul class="checkbox">
        <% s1 = Set.new %>
        <% @floor.referrals_pending_calendar.each do |referral| %>

            <% if !s1.include?(referral.legislation) %>
              <li><%= check_box_tag "referral_ids[]", referral.id %> <%= link_to_legislation( referral.legislation ) %></li>
              <%  s1.add(referral.legislation) %>
            <% end%>
        <% end %>
      </ul>

      <p class='field'><%= select_tag 'calendar_id', options_for_select( @floor.calendars.collect{|c| [c.name,c.id]} ), :style => "width: 80%;" %></p>

      <div class='field field-submit'>
        <%= f.submit "Add to Selected Calendar", :size => 'fifty', :class => 'btn blue-btn' %>
      </div>


    <% end %><br/>

  <% end %>

  <h2>Calendar Items</h2>
  </br>
  <div class="tabs">
    <ul class="clearfix">

      <!-- set s2 keeps track of the shown legislations to avoid duplicate bill bug -->
      <% s2 = Set.new %>
      <% @floor.calendars.each do |calendar| %>
        <li><a href="#tab-calendar-<%= calendar.id %>"><%= calendar.name %> (<%= calendar.calendar_referrals.count %>)</a></li>
              <% if calendar.referrals.empty? %>
                <!-- <h2>There is no legislation on this calendar</h2> -->
              <% else %>
                <ul>
                  <% calendar.referrals.each do |referral| %>
                      <% if !s2.include?(referral.legislation) %>
                      <li><%= link_to_legislation( referral.legislation ) %></li>
                      <%  s2.add(referral.legislation) %>
                    <%  end%>
                  <% end %>
                </ul>
              </br>
                <% end %>
      <% end %>
    </ul>
  </div>

  <!-- <% @floor.calendars.each do |calendar| %>
    <div class="panel" id="tab-calendar-<%= calendar.id %>">

      <%= sanitize calendar.description, attributes: ['style'] %>

      <% if calendar.referrals.empty? %>
        <h2>There is no legislation on this calendar</h2>
      <% else %>
        <ul>
          <% calendar.referrals.each do |referral| %>
            <li><%= link_to_legislation( referral.legislation ) %></li>
          <% end %>
        </ul>
      <% end %>

    </div>
  <% end %> -->
  </div>
</div>
