<div id="overview" class="left-column">
  <div class="left-content">
    <%= content('committee-request-info') %>
  </div>
</div><!--overview-->

<div id="details" class="right-column">
  <div class="the-content">
    <h2>Your Requests</h2>

    <%= form_tag update_membership_requests_committees_path, :method => :put do |f|%>
      <div class="field">
        <%= label_tag :rank_1, "First Choice" %> <%= select_tag :rank_1, options_for_select( [['None','']] + @committees.collect { |c| [c.title,c.id] }, { :selected => @chamber_role.group_id_for_committee_request_by_rank(1) } ), :class => "input"  %>
      </div>

      <div class="field">
        <%= label_tag :rank_2, "Second Choice" %> <%= select_tag :rank_2, options_for_select( [['None','']] + @committees.collect { |c| [c.title,c.id] }, { :selected => @chamber_role.group_id_for_committee_request_by_rank(2) } ), :class => "input"  %>
      </div>

      <div class="field field-submit">
        <%= submit_tag 'Submit Requests', :size => "fifty", :class => "btn blue-btn" %>
      </div>
    <% end %><br/>

    <h2>Current Requests</h2>
    <br/>
    <% @committees.each do |committee| %>
      <h3><%= committee.title %></h3>
      <ul>
        <% committee.group_membership_requests.each do | group_membership_request | %>
          <div style="margin-left:25px"><%= link_to_user( group_membership_request.chamber_role ) %> (<%= group_membership_request.rank.ordinalize %>)
          </div>
        <% end %>
      </ul>
    <% end %>
  </div>
</div>