<div id="overview" class="left-column">
  <div class="left-content">
    <% if @committee.primary_group_leader %>
      <h2><%= @committee.primary_group_leader.title %></h2>
      <p><%= link_to_user( @committee.primary_leader ) %></p>
    <% else %>
      <h2>There is no Committee Leader</h2>
    <% end %>

    <% if @committee.public_announcement %>
      <h2>Public Announcements</h2>
      <%= sanitize @committee.public_announcement, attributes: ['style'] %>
    <% end %>

    <% if @committee.private_announcement and @current_chamber_role.group_member?( @committee ) %>
      <h2>Member's Only Announcements</h2>
      <%= sanitize @committee.private_announcement, attributes: ['style'] %>
    <% end %>

    <% unless @committee.secondary_group_leaders.empty? %>
      <h2>Committee Leadership</h2>
      <ul>
        <% @committee.secondary_group_leaders.each do |secondary_group_leader| %>
          <li><%= secondary_group_leader.title %>: <%= link_to_user( secondary_group_leader.chamber_role ) %></li>
        <% end %>
      </ul>
    <% end %>

    <% if @current_chamber_role.group_leader?( @committee ) %>
      <div class='field field-submit'>
      <%= link_button_to "Manage Committee", manage_committee_path( @committee ), :size => 'sixty', :class => 'btn blue-btn' %>
      </div><br />
    <% end %>

    <% if @committee.membership.empty? %>
      <h2>There is no Committee Membership</h2>
    <% else %>
      <h2>Membership</h2>
      <ul>
        <% @committee.membership.each do |member| %>
          <li><%= link_to_user( member ) %></li>
        <% end %>
      </ul>
    <% end %>
  </div>
</div><!--overview-->

<div id="details" class="right-column">
  <div class="the-content">
    <h2>Committee Description</h2>

    <p><%= sanitize @committee.jurisdiction_description, attributes: ['style'] %></p>

    <h2>Issue Areas</h2>

    <p><%= sanitize @committee.issue_description, attributes: ['style'] %></p>

    <%= render(:partial => 'discussions/group_index', :locals => { :group => @committee } ) %>

    <%= render(:partial => 'legislation/committee_referrals', :locals => { :group => @committee } ) %>
  </div>
</div><!--details-->
