<div id="overview" class="left-column">
	<div class="left-content">
    <p>If a user has lost their password, you can manually reset it here. Sometimes this is the only option, but it is recommended that before reseting a password that you invite the user to reset the password on their own. To do so, send them a password reset email.</p>

    <%= form_for @user, :url => send_password_reset_admin_user_path do |f| -%>
      <%= f.submit "Send Password Reset", :size => 'eighty', :class => 'btn blue-btn' %>
    <% end %><br />

    <%= link_button_to 'Return to Administration', admin_path, :size => 'seventy', :class => 'btn blue-btn' %><br />
  </div>
</div>

<div id="details" class="right-column">
	<div class="the-content">
    <% @user.password = @user.password_confirmation = nil %>

    <%= error_messages_for :user %>

    <%= form_for @user, :url => update_password_admin_user_path do |f| -%>

      <div class="field">
        <%= f.label :password, "New Password" %> <%= f.password_field :password, :class => "input", :style => 'outline: none;border: 0 none;height: 24px;color: #000;background-color: #DEDEDE;font-size: 16px;padding: 8px 12px;width: 100%;max-width: 576px;' %>
      </div>
      <div class="field">
        <%= f.label :password_confirmation, "Confirm" %> <%= f.password_field :password_confirmation, :class => "input", :style => 'outline: none;border: 0 none;height: 24px;color: #000;background-color: #DEDEDE;font-size: 16px;padding: 8px 12px;width: 100%;max-width: 576px;' %>
      </div>

      <div class='field field-submit'><%= submit_tag 'Change Password', :size => 'fifty', :class => 'btn blue-btn' %></div>
    <% end %>
  </div>
</div>