<div class='field'>
  <fieldset class="clearfix">
    <%= f.label :first_name, "First Name" %> <%= f.text_field :first_name, :class => "input" %>
  </fieldset>
</div>

<div class='field'>
  <fieldset class="clearfix">
    <%= f.label :last_name, "Last Name" %> <%= f.text_field :last_name, :class => "input" %>
  </fieldset>
</div>

<div class='field'>
  <%= f.fields_for :user do |u| %>
    <fieldset class="clearfix">
      <%= u.label :email %> <%= u.text_field :email, :class => "input" %>
    </fieldset>
  <% end %>
</div>

<div class='field'>
  <fieldset class="clearfix">
    <%= f.label :photo %>
    <%= f.file_field :photo, accept: 'image/*', class: 'field'  %>
    <p>Image will be resized to 150 x 150 px</p>
  </fieldset>
</div>

<% if @executive.photo.attached? %>
  <div class='field'>
    <fieldset class="clearfix">
      <label>Current Photo</label>
      <%= image_tag @executive.photo.variant(resize_to_fill: [150, 150]), :alt => @executive.title, :title => @executive.title %>
      Delete Current Photo <%= check_box_tag :delete_photo %>
    </fieldset>
  </div>
<% end %>

<%= f.fields_for :executive_profile do |p| %>
  <div class='field'>
    <fieldset class="clearfix">
      <%= p.label :personal_statement, "Personal Statement" %>
      <%= p.text_area :personal_statement, :class => "tinymce" %>
    </fieldset>
  </div>

  <div class='field'>
    <fieldset class="clearfix">
      <%= p.label :priorities, "Governing Priorities" %>
      <%= p.text_area :priorities, :class => "tinymce" %>
    </fieldset>
  </div>
<% end %>
