<%= render partial: "text_javascript", locals: {selector: "#edit_vote_#{@vote.id}", cloture: params[:cloture] } %>

<%= form_for @vote, :url => { :action => :update_previous } do |f| %>
  <div id="details" class="left-column" style='float:left; width: 500px'>
    <div class="left-content">
      <h2>Revise the Motion</h2>

      <p>Motion Type: <b><%= @motion.display_action %></b></p>
      <%= hidden_field_tag 'motion[action]', @motion.action %>

      <div id="passage_selector" style="display:none" class="text_selector" >
        <h3>Select Legislative Version</h3>
        <p><select id="legislative_text_id" style="width: 100%;"></select></p>
      </div>

      <div id="amendment_selector" style="display:none" class="text_selector" >
        <h3>Select Amendment</h3>
        <p><select id="amendment_id" style="width: 100%;"></select></p>
      </div>

      <div id="motion_text_container">
        <h3>Motion Text</h3>
        <%= text_area_tag 'motion[text]', @motion.text, :class => "tinymce", :style => 'width: 100%; height: 400px;' %>
      </div>

      <%= hidden_field_tag 'motion[referral_id]', @motion.referral_id %><br />
      <% if @current_chamber_role.is_administrator? %>
        <%= link_button_to "Return to Legislation Management", admin_calendars_path, :size => 'ninety', :class => 'btn blue-btn' %>
      <% else %>
        <%= link_button_to "Return to Vote Management", manage_votes_floor_path( @vote.motion.referral.group ), :class => 'btn blue-btn' %>
      <% end %>
    </div>
  </div>


  <div id="overview" class="right-column" style='float:right;width:750px'>
    <div class="the-content">
      <div class="alert-box" id="validation-box">
        <h2 class="error">Error</h2>
        <ul id="form-errors"></ul>
      </div>

      <h2>Revise Vote Details</h2>

      <p>
        Recorded At:<br />
        <%= date_field_tag 'vote[start_at_date]', @vote.start_at.strftime("%F"), class: 'datetime' %>
        <%= time_field_tag 'vote[start_at_time]', @vote.start_at.strftime("%R"), class: 'datetime' %>
      </p>

      <p>
        Threshold for Passage:<br />
        <%= select_tag 'vote[threshold]', options_for_select( [['Simple Majority','500'],['60%','600'],['Two-Thirds Majority','667'],['Unanimous Consent','1000']] ), :style => "width: 100%;"  %>
      </p>

      <p>
        <input type="checkbox" name="vote[absolute]">
        Count Abstentions and Present Votes as "No" votes
      </p>

      <p>
        Vote Recorded by:<br />
        <%= select_tag 'vote[record_type]', options_for_select( [['--',''],['Roll Call','roll_call'],['Division','division'],['Voice Vote','voice_vote']],[@vote.record_type] ), :style => "width: 100%;"  %>
      </p>

      <div id="roll_call_input_container" class="vote_input_container" style="display:none">
        <h2>Roll Call Vote</h2>

        <table>
          <tr><th>Member</th><th>Vote</th></tr>
          <% @motion.referral.group.membership.each do |member| %>
            <tr>
              <td><%= member.title %></td>
              <td>
                <%= select_tag "roll_call[member_id][#{member.id}]", options_for_select( [['None','none'],['Yes','yes'],['No','no'],['Present','present']],[member.preference_for_vote( @vote )] ) %>
              </td>
            </tr>
          <% end %>
          </table>
      </div>

      <div id="division_input_container" class="vote_input_container" style="display:none">
        <h2>Division Vote</h2>

        <p>For when an accurate count of yeas and nays is kept, but not a specific record of who vote which way.</p>

        <table>
          <tr>
            <th>Yes Votes</th>
            <td><input type="text" name="division[yes]" value="<%= @vote.yes_cache %>" size='3' value="0" style="text-align: center;" /></td>
          </tr>
          <tr>
            <th>No Votes</th>
            <td><input type="text" name="division[no]" value="<%= @vote.no_cache %>" size='3' value="0" style="text-align: center;" /></td>
          </tr>
          <tr>
            <th>Present Votes</th>
            <td><input type="text" name="division[present]" value="<%= @vote.present_cache %>" size='3' value="0" style="text-align: center;" /></td>
          </tr>
        </table>

      </div>

      <div id="voice_vote_input_container" class="vote_input_container" style="display:none">
        <h2>Voice Vote</h2>

        <p>For when only the outcome is recorded by a calling of the yeas and nays but an accurate tally is not kept.</p>

        <p>
          Outcome:
          <%= select_tag 'voice_vote[outcome]', options_for_select( [['--',''],['Passed','passed'],['Failed','failed']],[@vote.outcome] )  %>
        </p>

      </div>

      <%= f.hidden_field :status %>
      <div class='field field-submit'>
        <%= f.submit "Update Vote", :size => "seventy", :class => 'btn blue-btn' %>
      </div>
    </div>
  </div>
<% end %>