<div id="overview" class="left-column">
  <div class="left-content">
  <%= render(:partial => 'legislation/box', :locals => { :legislation => @report.legislation }) %>

  <%= render(:partial => 'legislation/additional_info', :locals => { :legislation => @report.legislation }) %>
  </div>
</div><!--overview-->

<div id="details" class="right-column">
  <% if @report.group.is_floor? %>
    <div>
      <%= sanitize @report.reported_text.primary_text, attributes: ['style'] %>  
    </div>
  <% else %>
    <div id='tab-container' class="tab-container">
      <ul class="etabs">
        <li class='tab'><a href="#legislative">Legislation as Amended</a></li
        ><li class='tab'><a href="#summary"><%= @report.group.type %> Report</a></li>
      </ul>

      <div id='legislative'> 
        <div class='the-content'>
          <%= sanitize @report.reported_text.primary_text, attributes: ['style'] %>
        </div>
      </div>

      <div id='summary'>
        <div class='the-content'>
          <%= sanitize @report.reported_text.secondary_text, attributes: ['style'] %>
        </div>
      </div>
    </div>
  <% end %>
</div><!--details-->